

@section account{

    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Home" asp-action="LoginAsReader"><span class="glyphicon glyphicon-log-in"></span> Okur Olarak Giriş Yap </a></li>
    </ul>


}

<h3>    Sayın Okurumuz </h3>
<p> Bakımdayız, en kısa süre içerisinde sizlerle tekrardan beraber olacağız. İlginize ve sabrınıza teşekkür ederiz.</p>